* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: #0a0e13;
}

.cabecalho1 {
  background-color: #111;
  height: 90px;
  display: flex;
  color: white;
  border-bottom: solid 2px rgb(67, 66, 66);
}

#login1 {
  position: fixed;
  top: 10px;
  left: 1210px;
}
.game {
  font-size: 37px;
  color: rgb(0, 100, 100);
  -webkit-text-stroke: 2px black;
  position: relative;
  right: -250px;
  bottom: 0px;
  text-decoration-line: underline;
}
.cadastro {
  font-size: 38px;
  position: relative;
  -webkit-text-stroke: 2px black;
  color: rgb(235, 221, 221);
  bottom: 0px;
  right: -450px;
  text-decoration-line: underline;
}

#login {
  position: absolute;
  background-image: linear-gradient(rgb(0, 100, 100), rgb(31, 201, 201));
  border-radius: 13px;
  top: 50px;
  left: 800px;
}
button {
  padding: 8px;
  cursor: pointer;
  border-width: 0px;
}

.csgo {
  position: absolute;
  width: 420px;
  top: 210px;
  left: 120px;
}

.valorant {
  position: static;
  padding-top: 88px;
  padding-left: 780px;
}

.freefire {
  position: absolute;
  top: 560px;
  left: 120px;
}

.lol {
  position: absolute;
  top: 560px;
  left: 780px;
  max-height: 100px;
}

img {
  box-shadow: 8px 8px 9px 5px black;
  width: 450px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 1s;
  border: solid 0px rgba(255, 6, 6, 0);
  display: block;
}

img:hover {
  transition-duration: 0.8s;
  width: 500px;
  border: solid 6px rgb(0, 255, 174);
}
