*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}#linkBtn{
    list-style: none;
}
.cabeçalho{
    background-image: linear-gradient(to bottom right, rgb(0, 82, 121), rgb(0, 0, 0));
    width: 100%;
    height: 70px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.boxLogo{
    margin-left: 30px;
    width: 150px;
    margin: 1%;
}
.btnCabeçalho{
    margin-top: 11%;
    display: flex;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(111, 175, 159);
    transition-duration: 1s;
}
#linkBtn{
    list-style: none;
    height: 20px;
    width: 70px;
    margin-left: 20%;
    border-bottom: 1px solid rgba(3, 3, 3, 0);
    transition-duration: 0.5s;
}
#linkBtn:hover{
    border-bottom: 1px solid rgb(111, 175, 159);
    transition-duration: 1s;
}
#lista{
    display: flex;
}
.conteinerList{
    width: 15%;
    margin-left: 70%;
}