* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-image: linear-gradient(
      to right,
      rgb(16, 29, 53),
      rgb(12, 2, 34)
    );
  }
  .cabeçalho {
    background-image: linear-gradient(to right, rgb(27, 33, 119), rgb(51, 14, 71));
    width: 100%;
    height: 120px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-bottom: solid 8px black;
  }
  .Logo {
    position: absolute;
    right: 25%;
    font-size: 23px;
    bottom: 90%;
    color: white;
  }

  .Tudo {
    color: white;
  }

  li {
    border-bottom: solid 8px black;
    padding: 18px;
  }
 .Reservas {
    
  
  }
  .Titulares {
    
  }
  .principal {
    position: absolute;
    bottom: 100px;
  }
  .nprincipal {
    position: absolute;
    
  }
 