* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  

    body {
      background-image: linear-gradient(
        to right,
        rgb(16, 29, 53),
        rgb(12, 2, 34)
      );
    }
    .cabeçalho {
      background-image: linear-gradient(to right, rgb(27, 33, 119), rgb(51, 14, 71));
    width: 100%;
    height: 120px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-bottom: solid 8px black;
  }

  h1 {
    color: black;
    text-decoration: none;
  }
  
  button {
    position: absolute;
    top: 5px;
    left: 96.50%;
    padding: 2px;
    background-color: rgb(35, 26, 44);
    color: rgb(91, 113, 151);
    border-radius: 4px;
    cursor: pointer;
  }
  .Logo {
    position: absolute;
    right: 42%;
    font-size: 5vh;
    bottom: 88%;
    color: black;
  }
  .csgo {
    position: absolute;
    width: 420px;
    top: 250px;
    left: 100px;
  }
  .valorant {
    position: absolute;
    top: 250px;
    right: 100px;
  }
  .freefire {
    position: absolute;
    top: 600px;
    left: 100px;
  }
  .lol {
    position: absolute;
    top: 600px;
    left: 719px;
    max-height:100px
    

  }
  
  img {
    border: solid 8px black;
    width: 420px;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.6s;
    display: fixed;
  }

  img:hover {
    transition-duration:0.8s;
    border: solid 8px rgb(163, 19, 19);
    width: 470px;
  }