* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  scroll-padding-block: 1px;
}

.fundo {
  background-color: blueviolet;
}
.cabeçalho {
  background-image: linear-gradient(to right, rgb(24, 23, 23), rgb(75, 69, 69));
  height: 120px;
  display: flex;
  color: white;
  border-bottom: solid 7px black;
}
.login1 {
  position: fixed;
  top: 10px;
  left: 1210px;
}
.game {
  font-size: 37px;
  color: rgba(255, 0, 0, 0.886);
  position: relative;
  right: -250px;
  bottom: 10px;
  text-decoration-line: underline;
  display: block;
}
.cadastro {
  position: absolute;
  color: rgb(211, 211, 211);
  bottom: 25px;
  right: -10px;
  text-decoration-line: underline;
}

.login {
  position: absolute;
  padding: 7px;
  top: 60px;
  left: 900px;
}
button {
  padding: 7px;
}

.Logo {
  position: relative;
  left: 10px;
  font-size: 19px;
  color: rgba(173, 156, 167, 0.884);
}

.csgo {
  position: absolute;
  width: 420px;
  top: 210px;
  left: 120px;
}

.valorant {
  position: static;
  padding-top: 90px;
  padding-left: 780px;
}

.freefire {
  position: absolute;
  top: 560px;
  left: 120px;
}

.lol {
  position: absolute;
  top: 560px;
  left: 780px;
  max-height: 100px;
}

img {
  box-shadow: 8px 8px 9px 5px black;
  width: 450px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 1s;
  border: solid 0px rgba(255, 6, 6, 0);
  display: block;
}

img:hover {
  transition-duration: 0.8s;
  width: 500px;
  border: solid 6px rgb(255, 6, 6);
}
