.container {

    width: 250px;
    height: max-content;
    margin: auto;
    background-color: #ebebeb;
    padding: 50px 15px;
    margin-top: 250px;
    border-radius: 7px;
    font-family: Roboto, sans-serif;
    box-shadow: 10px 11px rgba(0, 0, 0, 0.7);
  }
  h1 {
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .login-form {
    position: relative;
    padding: 5px;
  }
  
  .form-field {
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .form-error {
    display: block;
    color: red;
    font-size: 0.9em;
    font-weight: 600;
  }
  
  .button {
    position: relative;
    top: 20px;
    left: 0px;
    background-color: rgb(182, 185, 185);
    color: black;
  }

  p {
    position: absolute;
    top: 270px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }

